<!doctype html>
<html>
<head>
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>ShortstackOverflow!</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="six columns">
          <H1><a id="title-main" href="/">ShortstackOverflow</a></H1>
        </div>
        <div class="six columns">
          <ul class="main_navigation">
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/posts">View Posts</a></li>
         </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="footer">
      <div class="row">
        <div class="one-third column" id="footer-links">
          <p id="scroll-top">^Top</p>
          <p><a href="/">Home</a></p>
          <p><a href="/login">Log In</a></p>
          <p><a href="/signup">Sign Up</a></p>
          <p><a href="/posts">View Posts</a></p>
        </div>
        <div class="one-third column">
          <p>2016 Shortstack Overflow<br>by Reggie Kim<br>at General Assembly NY</p>
        </div>
        <div class="one-third column">
          <a href="https://generalassemb.ly/"><img class="ga-logo" src="/img/ga_logo.png"></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
