<!doctype html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <div class="header">
      <H1>ShortstackOverflow</H1>
      <ul class="main_navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">View Posts</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
    <%= yield %>
    <div class="footer">
    </div>
  </div>
</body>
</html>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
