<div class="main-container">
  <H2>Please create an account</H2>
  <form class="signup" action="/signup" method="post">
    <label for="fname">First Name: </label>
    <input name="fname" type="text" maxlength="25"/>
    <label for="lname">Last Name: </label>
    <input name="lname" type="text" maxlength="25"/>
    <br />
    <label for="email">Email: </label>
    <input name="email" type="text" maxlength="50"/>
    <br />
    <label for="password">Password: </label>
    <input name="password" type="password" />
    <br />
    <input class="button-primary" type="submit" value="Sign Up" />
  </form>
</div>
