<div class="main-container">
  <H2>Please create an account with us to post, comment, etc</H2>
  <form class="signup" action="/signup" method="post">
    <label for="email">Email: </label>
    <input name="email" type="text" />
    <br />
    <label for="password">Password: </label>
    <input name="password" type="password" />
    <br />
    <input type="submit" value="Sign Up" />
  </form>
</div>
