
<div class="main-container">
  <h2>Please log in</h2>
  <p style="color: red">Incorrect email or password, please try again!</p>
  <form class="signup" action="/login" method="post">
    <label for="email">Email: </label>
    <input name="email" type="text" maxlength="50"/>
    <br />
    <label for="password">Password: </label>
    <input name="password" type="password" />
    <br />
    <input class="button-primary" type="submit" value="Log In" />
  </form>
</div>
