.header {
  background-color: #222;
  color: white;
  max-height: 10%;
}

#title-main {
  text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.six.columns {
  text-align: center;
}

.welcome {
  height: 475px;
  background-color: #33C3F0;
  color: white;
  text-align: center;
}

.welcome-text {
  padding-top: 125px;
}

#sub-title {
  font-size: 15pt;
}

#get-started {
  background-color: white;
  top: 300px;
}

.row {
  padding-top: 30px;
}

.footer {
  background-color: #222;
  color: white;
  max-height: 20%;
  padding-left: 50px;
}

.ga-logo {
  margin-left: 70px;
}

.main-container {
  padding-top: 30px;
}

#textarea {
  width: 65%;
}

.each-post {
  border: 2px solid #33C3F0;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 30px;
}

#footer-links a {
  text-decoration: none;
  color: white;
}

#footer-links p {
  margin-bottom: 0;
}

#uparrow {
  height: 20px;
}

#upvote-col {
  width: 50px;
}
